.bg-pink {
    background: $pink;
}

h2 {
    color: $dark-red;
    font-size: 48px;
    text-align: center;
    font-weight: 700;

    @include mobile {
        font-size: 24px;
    }
}

h4 {
    color: $red;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

.banner {
    max-width: 100%;
    height: calc(100vh - 80px);
    background: url('../images/home-header.png');
    background-size: cover;
    position: relative;

    @include pad {
        height: calc(100vh - 175.2px);
        background: url('../images/home-header-sm.png');
        background-size: cover;
    }

    .bannerContent {
        text-align: right;
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
        color: $dark-red;

        @include pad {
            right: 1%;
        }

        @include mobile {
            right: 5%;
        }

        h1 {
            font-size: 64px;
            white-space: nowrap;

            @include mobile {
                font-size: 24px;
            }
        }

        >p {
            font-size: 36px;

            @include mobile {
                font-size: 16px;
            }
        }

        .bannerCententBtn {
            background: $red;
            color: #fff;
            border: none;
            font-size: 20px;
            font-weight: 500;
            padding: 6px 12px;
        }
    }
}

.mainFeatures {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    h2 {
        margin-bottom: 32px;
    }

    ul {
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 24%;

            @include pad {
                width: 49%;
            }

            @include mobile {
                width: 100%;
            }

            img {
                width: 100px;
                margin-bottom: 24px;
            }

            h3 {
                color: $dark-red;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 8px;
            }

            p {
                text-align: left;
            }
        }
    }

}

.mainSeries {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        margin-bottom: 48px;
    }

    ul {
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 32%;

            @include pad {
                width: 100%;
            }

            img {
                margin-bottom: 8px;
                width: 100%;
                object-fit: cover;
            }
            h4 {
                word-break: break-all;
            }
        }
    }
}

.mainDesign {
    background: url('../images/index-bg.png');
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    .designImg {
        height: 240px;
        background-size: 100% 100%;
    }
    .dOUBLEAMb {
        @include pad {
            margin-bottom: 24px;
        }
    }
    .dOUBLEA {
        background-image: url('../images/home-section4-1.png');
        @include mobile {
            background-image: url('../images/home-section4-1-sm.png');
        }
    }
    .yOUTH {
        background-image: url('../images/home-section4-2.png');
        @include mobile {
            background-image: url('../assets/images/home-section4-2-sm.png');
        }
    }

    h2 {
        color: #fff;
        margin-bottom: 48px;
    }
    ul {
        flex-wrap: wrap;
        li {
        width: 50%;
        @include pad {
            width: 100%;
        }
        h4 {
            background: #fff;
        }
    }
    }

    
}

.mainRecommend {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        margin-bottom: 48px;
    }

    ul {
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 24%;
            box-shadow: 0px 2px 6px #00000029;
            border: 1px solid #DEE2E6;
            @include pad {
                width: 49%;
                margin-bottom: 24px;
            }
            @include mobile {
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}

.cardContent {
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;

    .name {
        font-weight: 500;
        margin-bottom: 8px;
    }

    .text {
        margin-bottom: 48px;
    }

    .date {
        font-size: 14px;
        color: #707070;
    }
}

.contactUs {
    width: 50%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad {
        width: 75%;
    }
    @include mobile {
        width: 100%;
    }

    h2 {
        margin-bottom: 48px;
    }

    p {
        margin-bottom: 24px;
    }

    .contactUsForm {
        flex-direction: column;
        label {
            margin-bottom: 8px;
        }

        input {
            padding: 6px 12px;
            background: transparent;
            margin-bottom: 16px;
            border: 1px solid #000000;
        }

        input[type="checkbox"] {
            position: relative;
        }
        input[type=checkbox]:after {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            content: "";
            background-color: $pink;
            color: #fff;
            border: 1px solid #000;
            padding-left: 0;
            border-radius: 3px;
            text-align: center;
          }
          
          input[type=checkbox]:checked:after {
            content: "✓";
            font-size: 12px;
            background-color: $red;
          }

        textarea {
            padding: 6px 12px;
            background: transparent;
            border: 1px solid #000000;
            margin-bottom: 16px;
        }
        .contactUsFormBtn {
            margin-top: 48px;
            width: 50%;
            border: none;
            color: #fff;
            background: $red;
            align-self: center;
            padding: 16px 0;
            border: 1px solid $red;
            &:hover {
                background: #fff;
                color: $red;
            }
        }
    }
}